<div id="loginRight">
        <h5 class="title">@T("Account.Register.ContentHeader")</h5>
        <div class="registerText"> <span>1</span>
          <h6>@T("Account.Register.Content1Title")</h6>
          <p>@T("Account.Register.Content1")</p>
        </div>
        <div class="registerText"> <span>2</span>
          <h6>@T("Account.Register.Content2Title")</h6>
          <p>@T("Account.Register.Content2")</p>
        </div>
        <div class="registerText"> <span>3</span>
          <h6>@T("Account.Register.Content3Title")</h6>
          <p>@T("Account.Register.Content3")</p>
        </div>
        <a class="register" title="I want to Register" href="@Url.Action("Register", "Customer")">@T("Account.Register")</a>
        </div>