@model Nop.Web.Models.Customer.PasswordRecoveryModel
@using Nop.Web.Models.Common; 
@{
    Layout = "~/Views/Shared/_Root.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
}
<div id="container">
    <!-- content -->
    <div id="content" class="clearfix">

     @if (!String.IsNullOrEmpty(Model.Result))
     {
         MessageModel msgModel = new MessageModel();
         msgModel.Successful = false;
         msgModel.MessageList.Add(Model.Result);
         @Html.Partial("MessageInline", msgModel);
     }
        <!-- login -->
        <div id="login" class="clearfix">
            <!-- loginLeft -->
            @using (Html.BeginForm())
            {
                <div id="loginLeft">
                    <h5 class="title">@T("Account.PasswordRecovery")</h5>
                    <dl class="formfield">
                        <dt>@Html.LabelFor(model => model.Email):</dt>
                        <dd>
                            @Html.TextBoxFor(model => model.Email)
                            @Html.ValidationMessageFor(model => model.Email)
                        </dd>
                       
                    </dl>               
                    <input type="submit" id="send-email" name="send-email" class="continue" value="@T("Account.PasswordRecovery.RecoverButton")" />
                </div>
            }
            <!-- loginLeft ends -->
            <!-- loginRight -->
            @Html.Partial("_RegistrationContent")
            <!-- loginRight ends -->
        </div>
        <!-- login ends -->
    </div>
    <!-- content ends -->
</div>
