@model Nop.Web.Models.Customer.PasswordRecoveryConfirmModel
@{
    Layout = "~/Views/Shared/_Root.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
}
<div id="container">
    <!-- content -->
    <div id="content" class="clearfix">
        <!-- login -->
        <div id="login" class="clearfix">
            <!-- loginLeft -->
            @using (Html.BeginForm())
            {
                <div id="loginLeft">
                    <h5 class="title">@T("Account.PasswordRecovery")</h5>
                    <dl class="formfield">
                        <dt>@Html.LabelFor(model => model.NewPassword): </dt>
                        <dd>
                            @Html.EditorFor(model => model.NewPassword)
                            @Html.ValidationMessageFor(model => model.NewPassword)
                        </dd>
                    </dl>
                    <dl class="formfield">
                        <dt>@Html.LabelFor(model => model.ConfirmNewPassword): </dt>
                        <dd>
                            @Html.EditorFor(model => model.ConfirmNewPassword)
                            @Html.ValidationMessageFor(model => model.ConfirmNewPassword)
                        </dd>
                        @if (!String.IsNullOrEmpty(Model.Result))
                        {
                            <dd>
                                <div>
                                    <strong>
                                        @Model.Result
                                    </strong>
                                </div>
                            </dd>
                        }
                    </dl>
                    <input type="submit" id="set-password" name="set-password" class="continue" value="@T("Account.PasswordRecovery.ChangePasswordButton")" />
                </div>
            }
            <!-- loginLeft ends -->
            <!-- loginRight -->
            @Html.Partial("_RegistrationContent")
            <!-- loginRight ends -->
        </div>
        <!-- login ends -->
    </div>
    <!-- content ends -->
</div>
