<ul id="contactleftMenu">
    <li><a id="CPayment" href="@Url.RouteUrl("Topic", new { SystemName = "help"})#HelpPayment" title="@T("Help.Menu.Payment")" data-contentId="CPayment">@T("Help.Menu.Payment")</a></li>
    <li><a id="COrder" href="@Url.RouteUrl("Topic", new { SystemName = "help"})#HelpOrder" title="@T("Help.Menu.Order")" data-contentId="COrder">@T("Help.Menu.Order")</a></li>
    <li><a id="CAccount" href="@Url.RouteUrl("Topic", new { SystemName = "help"})#HelpAccount" title="@T("Help.Menu.Account")" data-contentId="CAccount">@T("Help.Menu.Account")</a></li>
    <li><a id="CShipping" href="@Url.RouteUrl("Topic", new { SystemName = "help"})#HelpShipping" title="@T("Help.Menu.Shipping")" data-contentId="CShipping">@T("Help.Menu.Shipping")</a></li>
    <li><a id="CGift" href="@Url.RouteUrl("Topic", new { SystemName = "help"})#HelpGift" title="@T("Help.Menu.Gift")" data-contentId="CGift">@T("Help.Menu.Gift")</a></li>
    <li><a id="CContactUs" href="@Url.RouteUrl("ContactUs")" title="@T("FooterRight.Contact")" data-contentId="ContactUs">@T("FooterRight.Contact")</a></li>
</ul>