<ul id="leftMenu">
    <li><a href="@Url.RouteUrl("Topic", new { SystemName = "aboutAF" })" title="@T("FooterRight.AboutAf")">@T("FooterRight.AboutAf")</a></li>
    <li><a href="@Url.RouteUrl("Topic", new { SystemName = "alwaysfashion-in-the-press" })" target="_blank" title="@T("FooterRight.AFinPress")" data-contentId="AFinPress">@T("FooterRight.AFinPress")</a></li>
</ul>
