<ul id="leftMenu">
    <li><a id="HShipping" href="@Url.RouteUrl("Topic", new { SystemName = "return-policy"})" title="@T("Help.Menu.Shipping")" data-contentId="HelpShipping">@T("Help.Menu.Shipping")</a></li>
    <li><a id="HPayment" href="@Url.RouteUrl("Topic", new { SystemName = "payment-options"})" title="@T("Help.Menu.Payment")" data-contentId="HelpPayment">@T("Help.Menu.Payment")</a></li>
    <li><a id="HOrder" href="@Url.RouteUrl("Topic", new { SystemName = "security"})" title="@T("Help.Menu.Order")" data-contentId="HelpOrder">@T("Help.Menu.Order")</a></li>
    <li><a id="HOrder" href="@Url.RouteUrl("Topic", new { SystemName = "teklif-iste"})" title="@T("Help.Menu.InquireOffer")" data-contentId="HelpOrder">@T("Help.Menu.InquireOffer")</a></li>
    <li><a id="HOrder" href="@Url.RouteUrl("Topic", new { SystemName = "faq"})" title="@T("Help.Menu.Faq")" data-contentId="HelpOrder">@T("Help.Menu.Faq")</a></li>
    <li><a id="HOrder" href="@Url.RouteUrl("Topic", new { SystemName = "PrivacyInfo"})" title="@T("Help.Menu.PrivacyInfo")" data-contentId="HelpOrder">@T("Help.Menu.PrivacyInfo")</a></li>
    <li><a id="HOrder" href="@Url.RouteUrl("Topic", new { SystemName = "TermsOfUse"})" title="@T("Help.Menu.TermsOfUse")" data-contentId="HelpOrder">@T("Help.Menu.TermsOfUse")</a></li>
    <li><a id="CContactUs" href="@Url.RouteUrl("ContactUs")" title="@T("FooterRight.Contact")" data-contentId="ContactUs">@T("FooterRight.Contact")</a></li>
</ul>
