@model List<CategoryModel>
@{
    Layout = "~/Views/Shared/_Root.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Manufactures").Text);
}
@using Nop.Core;
@using Nop.Core.Infrastructure;
@using Nop.Web.Framework.UI;
@using Nop.Web.Models.Catalog;

@{
    var manufacturers = new List<ManufacturerModel>();
    foreach(var category in Model)
    {
        foreach(var manufacturer in category.ManufacturerModels)
        {
            if (manufacturers.FirstOrDefault(x => x.Id == manufacturer.Id) == null)
            {
                manufacturers.Add(manufacturer);
            }
        }
    }
    
        }

@section Announcement{@Html.Action("NewsAnnouncement","News")}

<div id="container">
        <div id="content" class="clearfix">
            <div id="contentUp" class="clearfix"><h1>@T("Manufacturer.Designers")</h1></div>
            <!-- contentup ends -->
            <div class="tools clearfix">
            	<!-- sort by starts -->
                <div class="sort left">
                	@*@T("Manufacturer.Letters.SortByAZ"):
                   @{string alphabet = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";}

@foreach(char c in alphabet)
{
 <a href="@Url.RouteUrl("FilteredManufacturerList", new { filter = @c.ToString()})">@c</a><span>I</span>
}*@
                </div>
                <!-- sort by ends -->
                  <div class="toolItem right">
                    <div class="toolItemLeft">@T("Manufacturer.Filter.SortBy"):</div>
                    <div class="toolItemRight" style="width: 150px;">
                      <div class="selectBox">
                        <span>@T("Manufacturer.AllDesigners")</span>
                        <ul>
                            <li  class="on"><a href="@Url.RouteUrl("ManufacturerList")">@T("Manufacturer.AllDesigners")</a></li>
                            <li ><a href="@Url.Action("CategoryManufacturersAll","Catalog")">@T("Manufacturer.BrandsByCategory")</a></li>
                            @*<li>@T("Manufacturer.LuxuryAvenueShops")</li>*@
                        </ul>
                      </div>
                    </div>
                  </div>     
                   
            </div>
            <!-- tools ends -->
            <!-- filter select -->
            <ul class="filterTool clearfix">
            	  @Html.Action("ManufacturerCategories", new { categoryId = 0})
            </ul>
            <!-- filter select ends -->
            <!-- cat list -->
@*
            @{int i=0; int j=0;}
*@
            @for (int i = 0; i <= Model.Count / 4; i++)
            {
                <div class="catList clearfix">
                    @for (int j = 0; j < 4; j++)
                    {
                        int index = i * 4 + j;
                        if (index == Model.Count) { break; }
                        var category = Model[i * 4 + j];  
                        <div class="item @(j == 3 ? "last" : "")">
                            <h3>@category.Name</h3>
                            <ul>
                                @foreach (var item in category.ManufacturerModels)
                                {
                                    <li><a href="@Url.RouteUrl("ManufacturerSe", new { SeName = item.SeName })" title="@item.Name">@item.Name</a></li>
                                }
                            </ul>
                        </div>
                  }
                </div>
            }
            <!-- cat list ends -->
        </div>
        <!-- content ends -->
    </div>
@if (ViewBag.IsGuest)
{
    //@Html.Partial("_landingRegisteration",new Nop.Web.Models.Newsletter.NewsletterBoxModel()) 
}
