@model Nop.Web.Models.News.NewsItemModel
           <div class="thumb medium text" style="width: 626px; min-height: 408px;">
            <div class="pic" style="width: 626px; height: 408px;">
                <div class="thumb productListBanner" style="width: 626px; height: 408px;">
                    @*<img title="@Model.Title" src="@Model.DefaultPictureModel.FullSizeImageUrl" width="626px" height="408px" alt="@Model.Title" />*@
                    @Html.Raw(Model.Full)
                </div>
            </div>
           <div class="panel">
               <div class="thumb productListBanner" style="width: 626px; height: 408px;">
                   @*<img title="@Model.Title" src="@Model.DefaultPictureModel.FullSizeImageUrl" width="626px" height="408px" alt="@Model.Title" />*@
                   @Html.Raw(Model.Full)
               </div>
           </div>
<div class="text" style="width:313px; height:70px;">
    <p></p>
</div>
           </div>
