@*AF*@
@model Nop.Web.Models.Catalog.RecentlyAddedProductsModel
@{
    Layout = "~/Views/Shared/_Root.cshtml";
    Html.AddTitleParts(T("PageTitle.RecentlyAddedProducts").Text);
}
@section JavaScript
{
    <script src="@Url.ContentV("~/Scripts/sub-category.js")" type="text/javascript"></script>
}
@section JavaScriptVariables
{
    <script type="text/javascript">
    var _applyUrl="@Url.Action("RecentlyAddedProductsJS", "Catalog")";
    var _addToCartUrl="@Url.Action("AddToCartProduct", "ShoppingCart")";
        var _totalProducts = 150000;
        var _loadedWithAjax = false;
    </script>
}
@section Announcement{@Html.Action("NewsAnnouncement","News")}
<div id="container">
    <div id="content" class="clearfix">
        <div id="contentUp" class="clearfix">
         <h1>
                <a href="@Url.RouteUrl("RecentlyAddedProducts")"><span>@T("Products.NewProducts")
                </span></a>
                </h1>
        </div>
        <!-- contentup ends -->
        @Html.Partial("CategoryProductsToolBox", Model.PagingFilteringContext)
        <!-- tools ends -->
              <div id="ProductsContainer" class="clearfix">
            @if (Model.PagingFilteringContext.ViewMode != "grid3")
            {
                <div class="thumbListContainer clearfix">
                    @if (Model.PagingFilteringContext.ViewMode == "grid1")
                    {
                        @Html.Partial("ProductsList1", Model)
                    }
                    else if (Model.PagingFilteringContext.ViewMode == "grid2")
                    {
                        @Html.Partial("ProductsList2", Model)
                    }
                    else
                    {
                        @Html.Partial("ProductsList2", Model)
                    }
                </div>
            }
            else
            {
                <div id="thumbScrollButtons" class="clearfix">
                    <a href="#" class="left">left</a> <a href="#" class="right">right</a>
                    <div id="scrollMask">
                        <div id="scrollLayout">
                            <div class="thumbListContainer clearfix">
                                @Html.Partial("ProductsList3", Model)
                            </div>
                        </div>
                    </div>
                </div>
                <div id="scrollBar">
                    <span>&nbsp;</span></div>
            }
            @*<div class="centeredButton">
                @if (Model.PagingFilteringContext.TotalItems > Model.PagingFilteringContext.PageSize)
                {
                    <a id="viewAll-bottom" class="button2 big" title="View All" href="javascript:;" style="display: @ViewBag.IsViewAllVisible;">@T("Category.ListAll")</a>
                }
            </div>*@
            <div id="productsLoadingNotifier" style="background: url(/_img/products_loading.gif) #f3f3f3 center center no-repeat; display:none; height:40px;"></div>
            <div class="clear"></div>   
    
            <div class="pagination">
                <ul>
                    @Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber")
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- content ends -->

@Html.Action("OfferPrice", "Common")
@if (Model.IsGuest)
{
    //@Html.Partial("_landingRegisteration",new Nop.Web.Models.Newsletter.NewsletterBoxModel()) 
}
