@model IList<ProductModel>
@using Nop.Web.Framework.UI;
@using Nop.Web.Models.Catalog;
@if (Model.Count > 0)
{
    <div id="findSimilar">
        <div>
            @T("Product.Suggest.FindSimilar")</div>
        <div id="findSimilarSlider" class="clearfix">
            <div id="findSimilarSliderLeft">
                <a href="#" title="@T("Product.Suggest.Prev")">@T("Product.Suggest.Prev")</a></div>
            <div id="findSimilarSliderInner">
                <ul class="clearfix">
                    @foreach (var product in Model)
                    {
                        <li><a href="@Url.RouteUrl("Product", new { productId = product.Id, SeName = product.SeName })" title="@product.Name">
                            <img src="@product.DefaultPictureModel.ImageUrl" width="95" height="123" alt="@product.Name" />
                        </a></li>

                    }
                </ul>
            </div>
            <div id="findSimilarSliderRight">
                <a href="#" title="@T("Product.Suggest.Next")">@T("Product.Suggest.Next")</a></div>
        </div>
    </div>
}