@*AF*@
@using Nop.Web.Models.Common
@model Nop.Web.Models.Catalog.SearchProductsModel280
@{
    Layout = "~/Views/Shared/_Root.cshtml";
    Html.AddTitleParts(T("PageTitle.Search").Text);
}
@section JavaScript
{
    <script src="@Url.ContentV("~/Scripts/sub-category280.js")" type="text/javascript"></script>
}
@section JavaScriptVariables
{
    <script type="text/javascript">
    var _applyUrl="@Url.Action("SearchJS280", "Catalog")";
    var _addToCartUrl="@Url.Action("AddToCartProduct", "ShoppingCart")";
    var _totalProducts = 150000;
    var _loadedWithAjax = false;
    </script>
}
<div id="container">
    <div id="content" class="clearfix">
        <div id="contentUp" class="clearfix">
            <h1>
                <span style="text-transform:none;">@Model.SearchReturnTitle:</span>@ConvertCase(Model.Q,Nop.Services.Localization.TextCase.Upper)</h1>
        </div>
        <!-- contentup ends -->
        @if (Model.Products.Count > 0)
        { 
            @Html.Partial("CategoryProductsToolBox280", Model.PagingFilteringContext)
            <!-- tools ends -->
                   <div id="ProductsContainer" class="clearfix">
            @if (Model.PagingFilteringContext.ViewMode != "grid3")
            {
                <div class="thumbListContainer clearfix">
                    @if (Model.PagingFilteringContext.ViewMode == "grid1")
                    {
                        @Html.Partial("ProductsList1280", Model)
                    }
                    else if (Model.PagingFilteringContext.ViewMode == "grid2")
                    {
                        @Html.Partial("ProductsList2280", Model)
                    }
                    else
                    {
                        @Html.Partial("ProductsList2280", Model)
                    }
                </div>
            }
            else
            {
                <div id="thumbScrollButtons" class="clearfix">
                    <a href="#" class="left">left</a> <a href="#" class="right">right</a>
                    <div id="scrollMask">
                        <div id="scrollLayout">
                            <div class="thumbListContainer clearfix">
                                @Html.Partial("ProductsList3280", Model)
                            </div>
                        </div>
                    </div>
                </div>
                <div id="scrollBar">
                    <span>&nbsp;</span></div>
            }
            @*<div class="centeredButton">
                @if (Model.PagingFilteringContext.TotalItems > Model.PagingFilteringContext.PageSize)
                {
                    <a id="viewAll-bottom" class="button2 big" title="View All" href="javascript:;" style="display: @ViewBag.IsViewAllVisible;">@T("Category.ListAll")</a>
                }
            </div>*@
                <div id="productsLoadingNotifier" style="background: url(/_img/products_loading.gif) #f3f3f3 center center no-repeat; display:none; height:40px;">
                </div>

                <div class="pagination">
                    <ul>
                        @Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber")
                    </ul>
                </div>            
        </div>
        }
        else
        {
            MessageModel msgModel = ViewBag.messageModel;
            @Html.Partial("Message", msgModel)
        }
    </div>
</div>
<!-- content ends -->
@Html.Action("OfferPrice", "Common")

@section BodyEnd
{
    <!-- Google Code for Remarketing Tag -->   
    <script type="text/javascript">
        var google_tag_params = {
            ecomm_prodid: '',
            ecomm_pagetype: 'searchresults'
            };
    </script>    
}

@section GoogleAnalytics
{ 
    ga('set', 'dimension2', 'searchresults');   // home, cart, purchase, productdetail, searchresults
}