@*AF*@
<div id="contentUp" class="clearfix">
    <h1>@T("ContactUs.Title")</h1>
    <div id="contentUpRight">
        <a href="#customerCare" id="customerLink"  title="@T("ContactUs.EmailUs")" class="button1 right">
            <img src="@Url.Content("~/_img/7x24.png")" width="36" height="36" alt="7x24" />
            @T("ContactUs.EmailUs")</a>
        <div class="titleText">
            <span style=" margin-right:4px;">@T("ContactUs.FreeCall")</span>@T("ContactUs.PhoneNumber")</div>
    </div>
</div>
