@model OrderDetailsModel
@using Nop.Core.Domain.Orders
@using Nop.Web.Models.Order
@using Nop.Services.Localization
@using Nop.Web.Models.Common
<ul class="contentTop clearfix">
    <li class="item">@T("OrderDetails.Header.Item")</li>
    <li class="styleNo" style="width: 190px;">@T("Order.Product(s).SKU")</li>
    <li class="quantitiy" style="width: 150px;">@T("OrderDetails.Header.Quantity")</li>
    <li class="styleNo" style="width: 150px;">@T("OrderDetails.Header.TotalPrice")</li>
    <li style="width: 100px;">@T("ReturnStatus")</li>
</ul>
@foreach (var ci in Model.Items)
{
    <ul class="eachItem clearfix">
        <li class="itemPicture">
            <img width="94px" height="123px" src="@ci.Picture.ImageUrl" alt="@ci.Picture.AlternateText" /></li>
        <li class="itemDetails" style="padding-top: 35px;">
            <h1>@ci.ManufacturerName</h1>
            <p>@ci.ProductName</p>
            @if (!String.IsNullOrEmpty(ci.AttributeInfo))
            {
                @Html.Raw(ci.AttributeInfo)
            }
            else
            {
                //keep html full
                <h2>
                    &nbsp<span>&nbsp</span></h2>
                <h2>
                    &nbsp <span>&nbsp</span></h2>
                                
            }
        </li>
        <li style="padding-top: 34px; width: 190px;" class="styleNo">@ci.Sku</li>
        <li class="itemQuantity" style="width: 150px; padding-left: 0;">@ci.Quantity</li>
        <li class="itemPrice" style="text-align: left; width: 150px;">@ci.SubTotal.Replace(ci.SubTotal.Substring(ci.SubTotal.IndexOf("(")), "")</li>
        @{
            string status = string.Empty;
            if (ci.ItemsReturnRequest != null) {
                status = ci.ItemsReturnRequest.ReturnRequestStatus;
            }
        }
        <li style="width: 100px; padding-top: 34px;">
            @status
        </li>
    </ul>
            
}
